<ion-modal-view>

   <ion-header-bar align-title="center" class="custom2" >
     <h1 class="title" style="color: #ffffff">New Exam</h1>
     <button class="button button-clear cust2" ng-click="closeTnewexamModal()">close</button>
   </ion-header-bar>
   <ion-content class="has-header" style="background: url(img/background2.jpg)  no-repeat center center fixed;  background-size:cover;">
     <div class="list card">
       <label class="item item-input" style="background-color: gainsboro;color:#660033;">
          <input type="text" placeholder="Exam Name Here" ng-model="newexamdetails.name">
        </label>
        <label class="item item-input item-select" style="background-color: gainsboro;color:#660033;">
            <div class="input-label" style="background-color: gainsboro;color:#660033;">
                Select Class:
              </div>
            <select ng-model="newexamdetails.classname"  style="background-color: gainsboro;">
              <option ng-repeat="clas in classes3 | unique: 'class'" > {{clas.class}}</option>
            </select>
        </label>
        <label class="item item-input item-select" style="background-color: gainsboro;color:#660033;">
            <div class="input-label" style="background-color: gainsboro;color:#660033;">
                Select Section:
              </div>
            <select ng-model="newexamdetails.classsection"  style="background-color: gainsboro;" >
              <option ng-repeat="class in classes3">{{class.classsection}}</option>
            </select>
        </label>

        <label class="item item-input item-select" style="background-color: gainsboro;color:#660033;">
            <div class="input-label" style="background-color: gainsboro;color:#660033;">
                Subject:
              </div>
            <select ng-model="newexamdetails.subject"  style="background-color: gainsboro;">
              <option ng-repeat="subject in subjectlistarray">{{subject.subjectname}}</option>
            </select>
        </label>

        <label class="item item-input item-select" style="background-color: gainsboro;color:#660033;">
          <div class="input-label" style="background-color: gainsboro;color:#660033;">
            Date
            </div>
            <input type="date" placeholder="Date of exam "  name="date" ng-model="newexamdetails.date">
      </label>
      <label class="item item-input item-select" style="background-color: gainsboro;color:#660033;">
        <div class="input-label" style="background-color: gainsboro;color:#660033;">
          time
          </div>
          <input type="time" placeholder="Time of exam"  name="time" ng-model="newexamdetails.time">
    </label>

     </div>
 </ion-content>
 <div class = "bar bar-footer custom2" ng-click="closeTnewexamModal();createnewexam(newexamdetails.date,newexamdetails.time);" >
   <h1 class = "title" style="color:#ffffff;">Submit</h1>
</div>
 </ion-modal-view>

 <style>

 .custom2{
background:linear-gradient(to top right, #660033 53%, #ffffff 150%); !important; // for bg color
 }
 .cust2 {
   color: #ffffff !important;
 }
 </style>
