<ion-view title="Class Schedule" id="page2">

<style type="text/css">

.divTable{
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}



</style>
<ion-content padding="true" class="has-header" scroll="true" style="background: url(img/background2.jpg)  no-repeat center center fixed;  background-size:cover;">

    <form id="classSchedule-form6" class="list">

      <label class="item item-input item-select" style="background-color: gainsboro;color:#660033;">
          <div class="input-label" style="background-color: gainsboro;color:#660033;">
              Class
            </div>
          <select ng-model="classselected2.class" style="background-color: gainsboro;color:#660033;">
            <option ng-repeat=" class in classes2 | unique: 'class'">{{class.class}}</option>

          </select>
      </label>

      <label class="item item-input item-select" style="background-color: gainsboro;color:#660033;">
          <div class="input-label" style="background-color: gainsboro;color:#660033;">
              Section:
            </div>
          <select ng-model="classselected2.section" ng-change="specificclasstimetable()"style="background-color: gainsboro;color:#660033;">
            <option ng-repeat="sec  in classes2">{{sec.classsection}}</option>

          </select>
      </label>

    </form>
    <div ng-show= "showtimetable">
      <div class="list" style=" margin-bottom: 0px;">
         <div class="item item-divider" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;text-align:center;">
           Class Timetable
         </div>
       </div>
            <ion-scroll zooming = "true" direction = "xy" >
              <div class="divTable" style="width: 1px; border: 1px solid #000;">
            <div class="divTableBody" >
              <div class="divTableRow" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;">
                <div class="divTableCell">Class\Day</div>
                <div class="divTableCell">Monday</div>
                <div class="divTableCell">Tuesday</div>
                <div class="divTableCell">Wednesday</div>
                <div class="divTableCell">Thursday</div>
                <div class="divTableCell">Friday</div>
                <div class="divTableCell">Saturday</div>
              </div>
              <div class="divTableRow" ng-repeat="x in classtimetable" ng-if="x.period<5">
                <div class="divTableCell" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;">{{x.period}}</div>
                <div class="divTableCell" >{{x.monday}}</div>
                <div class="divTableCell" >{{x.tuesday}}</div>
                <div class="divTableCell" >{{x.wednesday}}</div>
                <div class="divTableCell" >{{x.thursday}}</div>
                <div class="divTableCell" >{{x.friday}}</div>
                <div class="divTableCell" >{{x.saturday}}</div>
              </div>
              <div class="divTableRow" ng-repeat="x in classtimetable" ng-if="x.period==5">
                <div class="divTableCell" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;">LUNCH</div>
                <div class="divTableCell" >B</div>
                <div class="divTableCell" >R</div>
                <div class="divTableCell" >E</div>
                <div class="divTableCell" >A</div>
                <div class="divTableCell" >K</div>
                <div class="divTableCell" >:)</div>
              </div>
              <div class="divTableRow" ng-repeat="x in classtimetable" ng-if="x.period>5">
                <div class="divTableCell" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;">{{x.period}}</div>
                <div class="divTableCell" >{{x.monday}}</div>
                <div class="divTableCell" >{{x.tuesday}}</div>
                <div class="divTableCell" >{{x.wednesday}}</div>
                <div class="divTableCell" >{{x.thursday}}</div>
                <div class="divTableCell" >{{x.friday}}</div>
                <div class="divTableCell" >{{x.saturday}}</div>
              </div>


              </div>
            </div>

           </ion-scroll>
</div>

     <div class="spacer" style="height: 50px;"></div>

     <div class="list" style=" margin-bottom: 0px;">
        <div class="item item-divider" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;text-align:center;">
          Teacher Timetable
        </div>
      </div>
      <ion-scroll zooming = "true" direction = "xy" >
        <div class="divTable" style="width: 1px; border: 1px solid #000;">
     	<div class="divTableBody" >
     		<div class="divTableRow" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;">
     			<div class="divTableCell">Class\Day</div>
     			<div class="divTableCell">Monday</div>
     			<div class="divTableCell">Tuesday</div>
     			<div class="divTableCell">Wednesday</div>
     			<div class="divTableCell">Thursday</div>
     			<div class="divTableCell">Friday</div>
     			<div class="divTableCell">Saturday</div>
     		</div>
     		<div class="divTableRow" ng-repeat="x in tableresponse" ng-if="x.period<5">
     			<div class="divTableCell" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;">{{x.period}}</div>
     			<div class="divTableCell" >{{x.monday}}</div>
     			<div class="divTableCell" >{{x.tuesday}}</div>
     			<div class="divTableCell" >{{x.wednesday}}</div>
     			<div class="divTableCell" >{{x.thursday}}</div>
     			<div class="divTableCell" >{{x.friday}}</div>
     			<div class="divTableCell" >{{x.saturday}}</div>
     		</div>
     		<div class="divTableRow" ng-repeat="x in tableresponse " ng-if="x.period==5">
     			<div class="divTableCell" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;">LUNCH</div>
     			<div class="divTableCell" >B</div>
     			<div class="divTableCell" >R</div>
     			<div class="divTableCell" >E</div>
     			<div class="divTableCell" >A</div>
     			<div class="divTableCell" >K</div>
     			<div class="divTableCell" >:)</div>
     		</div>
     		<div class="divTableRow" ng-repeat="x in tableresponse " ng-if="x.period>5">
     			<div class="divTableCell" style="background:linear-gradient(to top right, #660033 53%, #ffffff 150%);color:#ffffff;">{{x.period}}</div>
     			<div class="divTableCell" >{{x.monday}}</div>
     			<div class="divTableCell" >{{x.tuesday}}</div>
     			<div class="divTableCell" >{{x.wednesday}}</div>
     			<div class="divTableCell" >{{x.thursday}}</div>
     			<div class="divTableCell" >{{x.friday}}</div>
     			<div class="divTableCell" >{{x.saturday}}</div>
     		</div>


     		</div>
     	</div>

     </ion-scroll>

    </ion-content>
</ion-view>
